[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "OkNNE"]
	path = OkNNE
	url = https://github.com/cran/OkNNE
	shallow = true
	registered = true
